:root {
    --bg-color: #ffffff;

    --main-text-color: #ffffff;
    --game-bg-color: #304F4F;

    --pw-text: #ffffff;
    --pw-bg-color: #1C3D3D;

    --header-color: #000000;
    
    --button-hover-bg: #808080;
    --button-selected: #114411;

    --stat-good: #8a2be2;
    --stat-bad: #ff0000;

    --background-image: url("https://www.pngarts.com/files/8/Anime-PNG-Image-Transparent.png");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;   
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-image) no-repeat;
    background-size: contain;
    opacity: 0.5; /* Adjust opacity */
    z-index: -1; /* Keeps it behind the content */
}

.container {
    position: relative;
    z-index: 1; /* Ensure content stays above the background */
}

body {
    background-color: var(--bg-color);
}

div.select button {
    margin: 10px 2px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    transition: .2s;
}

div.select button.selected {
    background-color: var(--button-selected);
    color: white;
}

span#good {
    color: var(--stat-good);
}

span#bad {
    color: var(--stat-bad);
}

button.skip {
    border: none;
    color: darkgray;
    text-decoration: underline;

    background-color: transparent;
    font-size: large;
}

button.skip:hover {
    transition: .2s;
    cursor: pointer;
    opacity: 0.5;
}

div.select button:hover {
    transition: .2s;
    cursor: pointer;
    opacity: 0.5;
    color: white;
    background-color: var(--button-hover-bg);
}

div.container, div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;

    align-self: center;
    justify-self: center;

    height: 100vh;
    width: 400px;
}


/* TODO: only with media if height lower than x */
div.content {
    margin-bottom: calc(100vh / 10);
}

.motto {
    color: var(--header-color);
    margin-bottom: 30px;
    font-size: xx-large;
}

div.right {
    align-items: start;
    justify-content: center;

    width: 100%;
}

.meaning, .reading {
    text-align: start;
}

div.left {
    width: 80%;
    justify-content: center;
    font-size:xx-large;
    align-items: center;
}

div.left, div.right {
    display: flex;
    margin: 10px;

    flex-direction: column;

    height:100%;
}

div.previousWord {
    display: flex;

    justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
    border-radius: 25px;
    color: var(--pw-text);
    background-color: var(--pw-bg-color);

    width: 400px;
    height: 100px;
}

div.game {

    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
    
    text-align: center;

    background-color: var(--game-bg-color);
    color: var(--main-text-color);
    
    padding: 40px;

    border: none;
    border-radius: 25px;
}

div.game span.word {
    font-size: xx-large;
}

div.game input[type="text"] {
    width: 250px;
    height: 50px;

    border-radius: 25px;
    border: none;

    font-size: x-large;
    text-align: center;
}